/*changes colours of bg, and creates rounded border*/
.navbar {
  border-left: medium none;
  border-radius: 5px;
  border-right: medium none;
  transition: 0.4s;
}

.navbar-item {
  visibility: visible;
}

/*changes colours of brand*/
.navbar-brand {
  color: #fa8072;
}

/*changes colours of links*/
.nav-link {
  color: #cd5c5c;
}

/*dropdown for when windows is too small*/
.navbar-toggler {
  border-color: #303B4D;
}
/*dropdown for when windows is too small {bars}*/
.navbar-toggler-icon {
  border-color: #303B4D;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#303B4D' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-menu:hover { /*changes colour of search hover*/
  background-color: #82CAFF;
}

/* over rides bootstraps buttons*/
/* custom button */
.btn-menu {
  color: #303B4D!important;/*over rides bootstraps buttons*/
  border-color: #303B4D!important;
}

/* first five lines from https://www.webpagefx.com/blog/web-design/responsive-background-image/*/
.jumbotron{
  top:0;
  z-index:-1;
  text-align: center;
  width:100%;
  border-radius: 0 0 10px 10px;

  background-image: url('../media/nature-bg2.jpg');
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;
  background-size: cover;
  background-color: #759ECF; /*load this color while image loads*/
}

/*scales size of jumbotron appropriately*/
.jumbo-pad {
  height: 420px;
}
.jumbo-bg-text{
  margin: 12%;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.3);
  box-shadow: 1px 1px 2px black;
  animation-name: bounce;
  animation-duration: 0.5s;
}
.jumbo-head-text {
  font-family:sans-serif;
  text-shadow: 2px 2px 4px #759ECF;
}
.jumbo-text {
  font-family:sans-serif;
  text-shadow: 1px 1px 2px #759ECF;
}

.main-info{
  border-radius: 20px 20px 20px 20px;
  color: #D89D6D;
  text-align:center;
  line-height:50px;
  background-color: #000000;
  width: 50%;
  margin-left: 25%;
  animation-name: bounce;
  animation-duration: 0.4s;
  box-shadow: 1px 1px 2px black;
}

.main-header {
  padding: 30px;
}

.post-jumbo {

}

.container-main {
  padding-top: 10px;
  background-color: #759ECF;
  border-radius: 10px 10px 0 0;
  padding-bottom: 1px;
}

.img-responsive {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 2px black;
}

.main-rows {
  background-color: #126EBB;
  border-radius: 10px 10px 10px 10px;
  padding-right: 30px;
  padding-top: 1px;
  padding-bottom: 30px;
  box-shadow: 1px 1px 2px black;
}
.col-second{
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 2px black;
}

.rows-header {
  color:#126EBB;
  text-align: center;
  padding-top: 10px;
  font-family:'Josefin Slab', serif;
  font-weight: bold;
}
.rows-header:hover {
  color: black;
  text-align: center;
  padding-top: 10px;
  font-family:'Josefin Slab', serif;
  font-weight: bold;
}
.rows-text{
  color: #759ECF;
  text-align: center;
  padding-top: 10px;
  font-family:'Josefin Slab', serif;
  font-weight: lighter;
}
.body-bot-margin{
  margin-bottom: 100px;
}

body {
  background-color: rgba(117,158,207,1);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  width: 100%;
  position:absolute;
  background-color: rgba(117,158,207,1);
  padding-bottom: 30px;
}
.footer-text {
  color: white;
  text-align: center;
}
.footer-hover {
  color:yellow;
}
.footer-hover:hover {
  color:white;
}

@keyframes bounce {
  0% {
    transform: scale(0.3);
    opacity: 0.5;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
